<!DOCTYPE html>
<html lang="es-Mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <!--Bar nav-->
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="./img/bg.jpg" alt="">
            </div>

            <section class="posts">
                <article>
                    <h2>Titulo del Artículo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, ipsa reprehenderit! Dignissimos magni necessitatibus praesentium reprehenderit tempore doloribus optio eos quasi ipsum nostrum voluptate, officiis commodi, rem neque? Omnis, qui. Repudiandae pariatur doloribus voluptas sunt. Dolor officia nulla odit sunt! Esse harum officiis rerum iure, aliquid provident quis nulla minima earum dolores iste voluptas atque hic. Sequi assumenda rerum, delectus sed porro, quos nesciunt soluta exercitationem vitae fugiat nulla minus dolorum, ex incidunt unde voluptas similique iure aspernatur culpa ad quia vel reprehenderit vero enim! Iusto impedit eos officia esse distinctio dolorem doloribus nam reprehenderit repudiandae eius. Eveniet, mollitia animi!</p>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt adipisci sequi tempora eaque praesentium itaque sed, error obcaecati dolorem minus dicta repellendus! Reprehenderit rem deserunt at. Vitae quaerat dolorem amet, eos modi molestias et eum unde sequi facere optio repudiandae neque reprehenderit totam, non ea quod iure voluptate officia, harum sint hic quibusdam? Reiciendis libero nostrum cum, iste corporis eveniet voluptas nobis sunt? Distinctio expedita numquam impedit blanditiis consequuntur architecto quos obcaecati veniam cupiditate consectetur id, ipsa deleniti tempore, pariatur fuga eveniet ut ad iure necessitatibus quasi recusandae. Ullam cupiditate dolore assumenda est soluta aspernatur obcaecati voluptatibus corporis hic. Eaque!</p>
                </article>
            </section>
        </section>

        <aside>
            <div class="widget">
                <h3 class="titulo">Artículos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit.</a></li> 
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias enim magni totam expedita cumque architecto recusandae nostrum voluptas dolore aspernatur, ratione harum iusto nulla culpa maxime exercitationem facere a quaerat laborum vitae necessitatibus perferendis consectetur iure maiores! Quis nobis non molestiae magnam id fuga accusantium eveniet illum! Possimus fugiat animi velit vitae ipsa dolorum asperiores doloribus perspiciatis aliquam ipsum. Amet laudantium numquam provident ratione earum dolore dignissimos accusamus facilis, laboriosam pariatur sapiente, voluptatem sint, ab perspiciatis expedita unde ut consequuntur nulla animi. Iusto vero veritatis assumenda mollitia quis rem impedit, aliquid cumque molestiae ducimus hic sed, reiciendis temporibus autem minus.</p>
            </div>
        </aside>

        <!--Pie de Pagina-->
        <footer>
            <p>Guillermo Sandoval 2022 - Todos los Derechos Reservados &copy;</p>
        </footer>

    </div>
</body>
</html>